/* ---------- root variables ---------- */
:root {
  --green: rgb(182, 209, 28);
  --light-green: rgb(3, 3, 3);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --orange: #FFB828;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 600;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* ---------- topbar styling ---------- */
.topbar {
  color: white;
  padding: 13.5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
 
}

.topbar h2 {
  margin: 0;
  font-weight: 800;
}

/* ---------- tabbar styling ---------- */
.tabbar {

  /*GUL GRADIENT

background: rgb(255,220,107);
background: linear-gradient(111deg, rgba(255,220,107,1) 0%, rgba(255,184,40,1) 100%);

*/
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: #B9B9B9;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.1em;
}

#stroke-2,
.a7c32b84-4138-4909-b105-8352f2be7c0d {
  stroke-miterlimit: 10;
  stroke-width: 1.7px;
}

.chat-ikon {
  width: 22%;
}

.find-homies-ikon {
  width: 15%;
}

.profil-ikon {
  width: 15%;
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: #FFB828;
}

a.active .cls-1 {
  fill: #FFB828;
  stroke: #FFB828;
}

a.active .cls-2 {
  display: none;
}

a.active .a2bc5a44-963f-4cdf-92d1-05ea7a378e1c {
  fill: #FFB828;
  stroke: #FFB828;
}

a.active .ed978444-ae00-4b29-ba99-62a17ee5fde4 {
  display: none;
}

a.active .a107bf30-7377-4cd6-ba05-5a67c66a7e4c {
  display: none;
}

a.active .a36e720b-d937-4684-923d-4a06bce395ee {
  fill: #FFB828;
  stroke: #white;
}



a.active .a7c32b84-4138-4909-b105-8352f2be7c0d {
  display: none;
}

a.active .b716c01d-597c-4fbd-8e51-ed31f7ad777c {
  display: none;
}

a.active .a16232aa-efea-4055-9468-995c2e7436e1 {
  fill: #FFB828;
}

a.active .e4e7baba-5940-47b3-8fc4-fb45ae99d495 {
  display: none;
}

a.active .f3298beb-8e07-41c1-862c-094f373cce4a {
  fill: #FFB828;
  stroke: #FFB828;
}






/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.6s;
  /* padding equals height of tabbar and topbar */
  padding: 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- ANIMATION ---------- */
/* animation til loading-side */

#loader {
  background: rgb(255, 220, 107);
  background: linear-gradient(0deg, rgba(255, 220, 107, 1) 7%, rgba(255, 184, 40, 1) 39%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: bagggrund-fade 3.7s;
}

.hide {
  display: none;
}

#logo-animation {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70%;
  animation: rotate-logo 3.5s infinite both;
}

.velkomst-overskrift {
  text-align: center;
  color: white;
  font-size: 2.1em;
  animation: hide 3.5s;
  font-weight: bold;
}


/*KOPIER HER FRA---------------------------------------------------------------------------------------------------*/

#profilflex{
  display: flex;
  justify-content: space-between;
  

}

/*TOP IKON TIL HØJRE*/

.blyant{
  width: 20%;
  float: right;
}
/*TOP IKON TIL VENSTRE (TILBAGE)*/

.tilbagepil{
  width: 10%;
  float: left;
}

img.orangeabsolute {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;}


  /*Profilbillede af Jacob*/
.jacobprofilbillede{
  width: 150px;
  position: absolute;
  top: 200px;
  left: 33%;
  z-index: 999999;
  

}

#firstandlastnameflex{
  color: gray;
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: 35%;
  

}
#jacobschytzflex{
  color: black;
  display: flex;
  justify-content: space-between;
  margin-left: 7.5%;
  margin-right: 7.5%;
  

}

/*Info tekst */
.profiletext{
text-align: left;
margin: 0;
margin-left: 6%;
}

/*Stregerne på siden (HR)*/
.hrprofile{margin-bottom: 5%;
  height: 0.3px;
  
width: 87%;}


/*Overskrift (name, location, occupation)*/
.profileh5{
  color: grey;
  margin: 0;
  margin-bottom: 10px;
}

/*Info (Jacob, Aarhus, student*/
.profileh4{color: black;
margin: 0;
margin-bottom: 5px;}


/*Knappen på profile*/
#profile > button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  transition: transform .2s; /* Animation */
  z-index: 999999;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 10%;
}
button:active {
  transform: scale(0.9); 
}

/*KOPIER HER NED TIL-----------------------------------------------------------------------*/



@keyframes rotate-logo {
  0% {
    transform: rotate(180deg);
  }

  25% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(180deg);
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes baggrund-fade {
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*----------- login forside--------------*/
h1.find-your-new, h1.hobby-homies {
  color: var(--orange);
}

h1.hobby-homies {
  font-size: 35px;
}

h1.find-your-new {
  font-size: 30px;
}

img.orange {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  background-color: white;
  margin:12%;
  margin-top:220px;
  z-index: 1;
  padding-top:15%;
  padding-bottom:25%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  transition: transform .2s; /* Animation */
}

button:active {
  transform: scale(0.9); 
}

.google {
  background-color: var(--blue);
}



/* ---------- home page ---------- */

.orange {
  width: 100%;
  
}

.home_h2  {
  position: relative;
  z-index: 1;
  color: white;;
}

.search {
  color: #939393;
  width: 300px;
  padding: 14px;
  border: none;
  margin-top:25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input_container {
    position:relative;
}

#input_img {
    position:absolute;
    bottom:13%;
    left:80%;
    width:24px;
}

.hvid_boks {
  background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border: none;
   position: relative;
   margin:10%;
   z-index: 1;
   border-radius: 4px;
   
}



.floorball_img {
  border-end-end-radius: 4px;
  margin-bottom: -5px;

}

.meetup_info {
  color: #939393;
  text-align: left;
  padding: 7px;
  font-size:0.8em;
}

h2.floorball {
  color: #FFB828;
  padding: 7px;
}

.kryds {
  position: sticky;
  left:80%;
  top:80%;
  z-index:2 ;
}
