/* ---------- root variables ---------- */
:root {
  --green: rgb(182, 209, 28);
  --light-green: rgb(3, 3, 3);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* ---------- topbar styling ---------- */
.topbar {
  color: white;
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 800;
}

/* ---------- tabbar styling ---------- */
.tabbar {

  /*GUL GRADIENT

background: rgb(255,220,107);
background: linear-gradient(111deg, rgba(255,220,107,1) 0%, rgba(255,184,40,1) 100%);

*/

  background: lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-dark);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}



/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.6s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- ANIMATION ---------- */
/* animation til loading-side */

#loader {
  background: rgb(255, 220, 107);
  background: linear-gradient(0deg, rgba(255, 220, 107, 1) 7%, rgba(255, 184, 40, 1) 39%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: bagggrund-fade 3.7s;
}

.hide {
  display: none;
}

#logo-animation {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70%;
  animation: rotate-logo 3.5s infinite both;
}

.velkomst-overskrift {
  text-align: center;
  color: white;
  font-size: 2.1em;
  animation: hide 3.5s;
  font-weight: bold;
}


@keyframes rotate-logo {
  0% {
    transform: rotate(180deg);
  }

  25% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(180deg);
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes baggrund-fade {
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------- home page ---------- */

img.orange {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.home_h2  {
  position: relative;
  z-index: 1;
}